@layer components {
  .complex-services {
    &__title {
      @apply text-center pt-24 pb-10 relative;
  
      &::before {
        content: url("/images/services_aramkor_left.png");
  
        @apply absolute -top-14 left-0;
      }
      &::after {
        content: url("/images/services_aramkor_right.png");
  
        @apply absolute -top-14 right-0;
      }
      &__text {
        @apply relative z-10;
      }
    }
    &__block {
      &:nth-child(even) {
        @apply bg-white;
  
        .complex-services__block__inner {
          @apply flex-row-reverse;
        }
      }
      &__inner {
        @apply h-[680px] flex items-center gap-[59px];
  
        &__image {
          @apply w-[550px] flex-none;
        }
        &__content {
          @apply flex flex-col items-start;
  
          &__subtitle {
            @apply text-primary-600 leading-tight bg-primary-600/10 font-lexend mb-6;
          }
          &__title {
            @apply font-lexend text-4xl leading-[1.3] tracking-wide text-primary-950 mb-5;
          }
          &__text {
            @apply text-lg leading-[26px] tracking-0.2 mb-8;
          }
          &__services {
            @apply grid grid-cols-2 gap-x-11 gap-y-4 mb-8 font-lexend font-semibold;
    
            &__item {
              @apply flex items-center gap-4 relative;
  
              &::before {
                content: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 10.5C0.25 5.11522 4.61522 0.75 10 0.75C15.3848 0.75 19.75 5.11522 19.75 10.5C19.75 15.8848 15.3848 20.25 10 20.25C4.61522 20.25 0.25 15.8848 0.25 10.5ZM13.6103 8.68593C13.8511 8.34887 13.773 7.88046 13.4359 7.6397C13.0989 7.39894 12.6305 7.47701 12.3897 7.81407L9.1543 12.3436L7.53033 10.7197C7.23744 10.4268 6.76256 10.4268 6.46967 10.7197C6.17678 11.0126 6.17678 11.4874 6.46967 11.7803L8.71967 14.0303C8.87556 14.1862 9.09215 14.2656 9.31186 14.2474C9.53157 14.2293 9.73216 14.1153 9.8603 13.9359L13.6103 8.68593Z" fill="%234967BF"/></svg>');
  
                @apply size-6;
              }
            }
          }
        }
      }
    }
  }  
}