.partners-divider__section {
  background-image: url("/images/partners_divider.png");
  aspect-ratio: 1440 / 102;

  @apply bg-cover;
}
.partners {
  &__section {
    @apply py-20 bg-white relative z-10;
  }
  &__decor {
    @apply absolute -z-10;

    &:nth-child(1) {
      @apply top-0 left-0;
    }
    &:nth-child(2) {
      @apply bottom-0 right-0;
    }
  }
  &__top {
    @apply flex flex-col items-center gap-6;
  }
  &__subtitle {
    @apply text-primary-600 bg-primary-600/10 tracking-[1.2px];
  }
  &__title {
    @apply font-lexend text-fontcolor-dark text-2xl font-light;
  }
  &__grid {
    max-width: 1323px;

    @apply flex flex-wrap justify-center mt-10 mb-11 mx-auto;
    
    .partner {
      @apply w-[calc(100%/9)] h-[93px];

      img {
        @apply w-full h-full object-scale-down;
      }
    }
  }
  &__forward {
    @apply flex justify-center;

    .button {
      @apply py-3 leading-5 font-semibold;
    }
  }
}